################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TwitchChat/bin/Debug
/TwitchChat/obj/Debug
/.vs/TwitchChat/v14

\.vs/TwitchChat/v15/\.suo

\.vs/TwitchChat/v15/Server/sqlite3/db\.lock

\.vs/TwitchChat/v15/Server/sqlite3/storage\.ide
